<a href="https://colab.research.google.com/github/Madhav2702/AI_ML_AVANTHI_MADHAV/blob/main/DAY%202%263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count=1
for i in range(1,5):
  for j in range(i):
    print(count,end=" ")
    count +=1
  print("\n")

1

2 3

4 5 6

7 8 9 10

In [ ]:
for i in range(5,0,-1):
  print(" ")
  for j in range(i):
    print("*",end=" ")
print("\n")

* * * * *
* * * *
* * *
* *
*

In [18]:
for i in range(4):
    for j in range(4):
        if i == 0 or i == size - 1 or j == 0 or j == size - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * *
*     *
*     *
* * * *

In [ ]:
count = 2
for i in range(4,0,-1):
  for j in range(i):
    print(count,end=" ")
    count+=2
  print("\n")

2 4 6 8

10 12 14

16 18

20

In [1]:
n=[1,32,24,13,97,1,8,14,99,34,5,56,8,23]
sum=0
for i in n:
   if i%2==0:
     sum += i
print(sum)

176

In [3]:
my_dict={
"name":"madhav",
"age":22,
"phonenumber":8374229100,
"favorite food":"chicken"
}
print(my_dict)

{'name': 'madhav', 'age': 22, 'phonenumber': 8374229100, 'favorite food': 'chicken'}

In [4]:
x=[3,3,5,5,3,3,7,7,5,3,7,5]
dict={}
distinct=set(x)
for i in distinct:
  dict[i]=0
for i in range (len(x)):
   dict[x[i]]+=1
print(dict)

{3: 5, 5: 4, 7: 3}